{% assign t = site.data.t %}
{% assign teamexpenses = site.data.expenses.SpeseDelTeam %}
{% assign detailedexpenses = site.data.expenses.SpeseAnalitiche %}
{% assign speseupdate = site.data.expenses.SpeseUpdate %}
{% assign sum_teamexpenses_impegno = 0 %}
{% assign sum_teamexpenses_pagamenti = 0 %}

<i>Dati a partire dall'istituzione del Team 16/09/2016 fino al {{speseupdate}}</i>

<table class="table table-striped expenses__teamexpenses">
    <thead>
      <tr>
        <th>Tipologia di spesa per macroarea</th>
        <th class="text-right hidden-xs">Impegno</th>
        <th class="text-right hidden-xs">Pagamenti</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in teamexpenses %}
	      {% assign sum_teamexpenses_impegno = sum_teamexpenses_impegno | plus: expense.impegno  %}
	      {% assign sum_teamexpenses_pagamenti = sum_teamexpenses_pagamenti | plus: expense.pagamenti  %}
	      <tr>
	        <td>{{expense.voce}}
	        	<ul class="list-unstyled visible-xs">
	        		{% if expense.impegno > 0 %}<li><b>Impegno: </b>&euro; {{expense.impegno | intcomma}}</li>{% endif %}
	        		{% if expense.pagamenti > 0 %}<li><b>Pagamenti: </b>&euro; {{expense.pagamenti | intcomma}}</li>{% endif %}
	        	</ul>
	        </td>
	        <td class="text-right hidden-xs">{% if expense.impegno > 0 %}
	        	<span class="white-space--nowrap">&euro; {{expense.impegno | intcomma}}</span>
	        	{% endif %}
	        </td>
	        <td class="text-right hidden-xs">{% if expense.pagamenti > 0 %}
	        	<span class="white-space--nowrap">&euro; {{expense.pagamenti | intcomma}}</span>
	        	{% endif %}
	        </td>
	      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      	<tr>
      		<td><i>Totale</i>
      			<ul class="list-unstyled visible-xs">
	        		<li><b>Impegno: </b>&euro; {{sum_teamexpenses_impegno | intcomma}}</li>
	        		{% if expense.pagamenti > 0 %}
	        		<li><b>Pagamenti: </b>&euro; {{sum_teamexpenses_pagamenti | intcomma}}</li>
	        		{% endif %}
	        	</ul>
      		</td>
      		<td class="text-right hidden-xs"><i>&euro; {{ sum_teamexpenses_impegno  | intcomma}}</i></td>
      		<td class="text-right hidden-xs"><i>&euro; {{ sum_teamexpenses_pagamenti  | intcomma}}</i></td>
      	</tr>
    </tfoot>
</table>

<p class="expenses__detailed__title">Dettaglio spese di sviluppo software e design superiori a EUR 30.000</p>
<div class="panel-group" id="detailedaccordion" role="tablist" aria-multiselectable="true">
{% for expense in detailedexpenses %}
	<div class="panel panel-default expenses__detailedexpenses">
	  <div class="panel-heading" role="tab">
	    <h3 class="panel-title">
	    <a role="button" data-toggle="collapse" data-parent="#detailedaccordion" href="#detail{{forloop.index}}" 
	       aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="detail{{forloop.index}}">
	    {{expense.titolobreve}}
		</a>
	    </h3>
	  </div>
	  <div id="detail{{forloop.index}}" class="panel-collapse collapse {% if forloop.first %}in{% endif %}" 
	  		role="tabpanel" aria-labelledby="heading{{forloop.index}}">
	  <div class="panel-body">
	  	{% if expense.ref %}
		{% assign same_lang_pages = site.pages | where: "lang", page.lang %}
		{% assign proj_pages = same_lang_pages | where: "ref", expense.ref %}
		{% assign proj = proj_pages | first %}
	  	<p>Progetto: <a href="{{proj.permalink | default: '#'}}" title="{{proj.title | default: expense.progetto}}"><b>{{proj.title}}</b></a></p>
	  	{% endif %}
	  	<h6>{{expense.voce}}</h6>
	    <p>{{expense.descrizione}}</p>
	    <table class="table table-condensed">
	    	<thead>
	    		<tr>
	    		<th class="hidden-xs">Impegno</th>
        		<th class="hidden-xs">Pagamenti</th>
	    		<th>Contratto/accordo
	    		</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr>
	    		<td class="hidden-xs"><span class="white-space--nowrap">&euro; {{expense.impegno | intcomma}}</span></td>
	        	<td class="hidden-xs">{% if expense.pagamenti > 0 %}
	        		<span class="white-space--nowrap">&euro; {{expense.pagamenti | intcomma}}</span>
	        		{% endif %}
	        	</td>
	        	<td>{{expense.contraccordi}}
	        		<ul class="list-unstyled visible-xs">
	        			<li><b>Impegno: </b>&euro; {{expense.impegno | intcomma}}</li>
	        			{% if expense.pagamenti > 0 %}
	        			<li><b>Pagamenti: </b>&euro; {{expense.pagamenti | intcomma}}</li>
	        			{% endif %}
	        		</ul>
	        	</td>
	        	</tr>
	    	</tbody>
	    </table>
	  </div>
		</div>
	</div>

{% endfor %}
<p class="expenses__disclaimer">
* Compensi degli esperti del Team per la Trasformazione Digitale.
</p>
</div>