<span style="font-size:15px; color: #fff;">
    {{ site.data.t.FollowUs[page.lang] }}
    &nbsp;
    <a href="https://twitter.com/{{ site.twitter_username[page.lang] }}" target="_blank" style="color:white; text-decoration:none">
        <span class="fa fa-twitter" style="font-size:20px;"></span>
    </a>
    &nbsp;
    <a href="{{ site.medium_address[page.lang] }}" target="_blank" style="color:white; text-decoration:none">
        <span class="fa fa-medium" style="font-size:20px;"></span>
    </a>
    &nbsp;
    <a href="{{ site.linkedin_address }}" target="_blank" style="color:white; text-decoration:none">
        <span class="fa fa-linkedin" style="font-size:20px;"></span>
    </a>
</span>
