<style type="text/css">
.iPress, .iPress>a, .iPress>ol>li, .iPress>p, .iPress>ul>li, .iPress p>a, .i-lineHeight-xl, .i-text-p {
    line-height: 1.55!important;
}
.iPress-blockquote, .Skiplinks>li>a, .i-padding-left-l {
    padding-left: 2.4rem!important;
}
.iPress-blockquote, .iPress>ol, .iPress>p, .iPress>pre .iPress>figure, .iPress>ul, .i-margin-bottom-xl {
    margin-bottom: 3.2rem!important;
}
.i-background-grey-10 {
    background-color: #f5f5f0!important;
}
.iPress-blockquote, .i-border-left-m {
    border-left: 1rem solid currentColor!important;
}
blockquote {
    margin: 0;
}
.iPress img {
    max-width: 100%;
}
.i-margin-r-right {
    margin-right: 1em!important;
}
.i-floatLeft {
    float: left!important;
}
.i-text-r-xxs {
    margin-top: 0;
}
</style>
<script id="built-in-helpers-template" type="text/x-handlebars-template">
 {% raw %}
    <blockquote class="iPress-blockquote i-background-grey-10">
        <h3>
            {{#ifCond lang "==" "it"}}
            Comunicati stampa
            {{/ifCond}}
            {{#ifCond lang "==" "en"}}
            Press Releases
            {{/ifCond}}
        </h3>
        <div id="ipress" style="height:100px; padding-left:5px;">
            {{#each elements}}
            <div class="row">
                <div class="col-md-12">
                    <p class="team-item-title">
                        <a href="{{this.link}}" target="_blank" style="text-decoration: none;">
                            {{this.title}} ({{formatDate this.publishDate this.lang}})
                        </a>
                    </p>
                    <a href="{{this.link}}" target="_blank" style="text-decoration: none;">
                    <img src="{{this.defaultImage.small}}" class="i-floatLeft i-margin-r-right">
                    </a>
                    <p class="i-text-r-xxs">
                        {{this.summary}}
                    </p>
                    <p style="clear:both;">&nbsp;</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div style="clear:both;">
            {{#ifCond lang "==" "it"}}
                            <a href="https://teamdigitale.governo.it/it/people/4-profile.htm" target="_blank">
                                <strong> Marisandra Lizzi</strong>
                            </a> 
                            <br /> 
                                <i>Comunicazione e PR</i>
                            <br /> 
                            <a href="mailto:marisandra@teamdigitale.governo.it" target="_blank" style="ext-decoration:none; text-decoration: none;">
                                    <span class="fa fa-envelope" style="font-size:20px;"></span>
                                </a>&nbsp;
                                <a href="https://medium.com/@marisandralizzi" target="_blank" style="ext-decoration:none; text-decoration: none;">
                                <span class="fa fa-medium" style="font-size:20px;"></span>
                                
                                </a>&nbsp;
                                <a href="https://twitter.com/marisandralizzi" target="_blank" style="ext-decoration:none; text-decoration: none;">
                                <span class="fa fa-twitter" style="font-size:20px;"></span>
                                </a>&nbsp;
                                <a href="https://www.facebook.com/marisandra.lizzi" target="_blank" style="ext-decoration:none; text-decoration: none;">
                                <span class="fa fa-facebook" style="font-size:20px;"></span>
                            </a>
            {{/ifCond}}
            {{#ifCond lang "==" "en"}}
      
                            <a href="https://teamdigitale.governo.it/en/people/16-profile.htm" target="_blank">
                                <strong> Marisandra Lizzi</strong>
                            </a> 
                            <br /> 
                                <i>Communication and PR</i>
                            <br /> 
                            <a href="mailto:marisandra@teamdigitale.governo.it" target="_blank" style="ext-decoration:none; text-decoration: none;">
                                    <span class="fa fa-envelope" style="font-size:20px;"></span>
                                </a>&nbsp;
                                <a href="https://medium.com/@marisandralizzi" target="_blank" style="ext-decoration:none; text-decoration: none;">
                                <span class="fa fa-medium" style="font-size:20px;"></span>
                                
                                </a>&nbsp;
                                <a href="https://twitter.com/marisandralizzi" target="_blank" style="ext-decoration:none; text-decoration: none;">
                                <span class="fa fa-twitter" style="font-size:20px;"></span>
                                </a>&nbsp;
                                <a href="https://www.facebook.com/marisandra.lizzi" target="_blank" style="ext-decoration:none; text-decoration: none;">
                                <span class="fa fa-facebook" style="font-size:20px;"></span>
                            </a>
            {{/ifCond}}
        </div>
    </blockquote>
    {% endraw %}
</script>