{% if page.lang == "it" %} {% assign homepage_href = "/" %} {% else %} {% assign homepage_href = "/" | append: page.lang %} {% endif %}
<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="it"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="it"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="it"> <![endif]-->

<html lang="{{ page.lang }}">

<head>
  <!--[if IE]><script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        // See http://stackoverflow.com/questions/3926197/html-base-tag-and-local-folder-path-with-internet-explorer
        (function() {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
    </script><![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }} - {{ site.title[page.lang] }}</title>

  {% for other_lang_page in site.pages %} {% if other_lang_page.ref == page.ref and other_lang_page.lang != page.lang %}
  <link rel="alternate" hreflang="{{ other_lang_page.lang }}" href="{{ other_lang_page.url }}" /> {% endif %} {% endfor %} {% include seo.html %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <!--
        Titillium web font
       *********************
       Esclusivamente per il sito delle linee guida vengono importati tutti gli stili del web font;
       si consiglia di rivedere il seguente link limitando le famiglie del font utilizzate nel sito.
     -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300italic,300,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="/styles/combined-5c6544bc2d.css?{{ site.time | date: '%Y%m%d%H%M' }}">
  <link rel="stylesheet" href="/styles/icons.css" />
  <link rel="stylesheet" href="/styles/share.css" />
  <link rel="stylesheet" href="/styles/current.css?{{ site.time | date: '%Y%m%d%H%M' }}" />
  <link rel="stylesheet" href="/assets/main.css?{{ site.time | date: '%Y%m%d%H%M' }}" />
  <link href="/styles/dialog.css" rel="stylesheet" />
  <link href="/styles/font-awesome.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

  {% if page.layout == 'project' %}
  <link rel="stylesheet" href="/styles/timeline-default.min.css" />
  <link rel="stylesheet" href="/styles/frst-timeline-style-2.css" />
  <link rel="stylesheet" href="/styles/timeline-animate.min.css" /> {% endif %}
</head>

<body class="layout-{{page.layout}} language-{{page.lang}}">
  {% include nav_side.html %}
  <!--[if lt IE 8]>
        <p class="browserupgrade">Versioni di Explorer inferiori alla 8 non sono supportate.
        Puoi effettuare un <a href="//browsehappy.com/"> aggiornamento del browser </a> per visualizzare correttamente il sito.</p>
    <![endif]-->
  <div class="nav-banner">
    {% include slimheader.html %}
  </div>
  <div  id="page_top">
    <header id="navbar" class="navbar navbar-default hidden-print">
      <div class="navbar-header container">
        <div class="row">
          <div class="col-xs-3 navbar__logo_container">
            <a tabindex="-1" href="{{ homepage_href }}">

                            <img alt="Digital Transformation Team logo" src="/images/loghi/demo.png" class="navbar__logo navbar__logo__digital img-responsive">
                        </a>
            <a tabindex="-1" href="http://www.governo.it">
                            <img alt="Italian Government logo" src="/images/loghi/governo.svg" class="hidden-xs hidden-sm navbar__logo" style="">
                        </a>

          </div>
          <div class="col-xs-1 team-bar ">
          </div>
          <div class="col-md-4 col-xs-4 team-nav">
            <div style="padding-left:5px; padding-top:1px;">
              <a tabindex="-1" style="color:white;" href="{{ homepage_href }}">

                                {{ site.data.t.DigitalTransformationTeamBr[page.lang] }}

                            </a>
            </div>
          </div>
          <div class="col-md-4 hidden-xs hidden-sm" style="text-align:right">
            {% include follow.html %}
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- display burger -->
      <a aria-controls="sidebar" data-target="#sidebar" data-toggle="offcanvas" title="navigation" aria-label="apri e chiudi menu" class="navbar-toggle hidden-md hidden-lg" href="#" id="nav-toggle">
                <span></span>
            </a>
      <!-- navbar header container -->
      {% include nav_top.html %}
    </header>

  </div>
  <!-- container -->

  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">

      <!--/.sidebar-offcanvas-->
      <article tabindex="0" id="main" class="col-sm-12 col-md-12">

        {{ include.content }}

      </article>

    </div>

  </div>

  <a href="#page_top" title="{{ site.data.t.ScrollToTop[page.lang] }}" class="sr-only">{{ site.data.t.ScrollToTop[page.lang] }}</a>

  <!--<aside class="lg-partecipa clearfix hidden-print">
        <h3>
            <i class="glyphicon glyphicon-edit"> </i>
            Vuoi contribuire ? Partecipa creando una issue
            sul <a href="https://github.com/italia-it/designer.italia.it">repository GitHub</a><br>
        </h3>
    </aside>-->

  <footer id="footer" class="hidden-print" tabindex="0">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer__logoteam">
          <div class="pull-left footer__logoteam__img">
            <a href="https://teamdigitale.governo.it" class=""><img src="/images/loghi/dt-logo.svg" alt="TeamDigitale Logo"></a>
          </div>
          <div class="footer__logoteam__string">
            <a href="https://teamdigitale.governo.it" class="">
            {{ site.data.t.DigitalTransformationTeam[page.lang] }}
          </a>
          </div>
        </div><!--/footer__logod-->

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer__logogov">
          <div class="pull-left footer__logogov__img">
            <a href="http://www.governo.it" target="_blank" class=""><img src="/images/loghi/governo.svg" alt="Italian Government"></a>
          </div>
          <div class="footer__logogov__string">
            <a href="http://www.governo.it" target="_blank"  class="">
            {{ site.data.t.ItalianGovernment[page.lang] }}
          </a>
          </div>
        </div><!--/footer__logogov-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer__logogov">
          <div class="pull-left footer__logogov__img">
            <a href="http://www.funzionepubblica.gov.it/" target="_blank" class=""><img src="/images/loghi/governo.svg" alt="Italian Government"></a>
          </div>
          <div class="footer__logogov__string">
            <a href="http://www.funzionepubblica.gov.it/" target="_blank"  class="">
            {{ site.data.t.PublicDepartment[page.lang] }}
          </a>
          </div>
        </div><!--/footer__logogov-->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="http://www.agid.gov.it/" target="_blank" class="">
          <img src="/assets/img/agid-logo-bb.svg" alt="Agid Logo" style="max-width:300px; height: auto; display:block;"></a>
        </div>
      </div><!--/row-->
      <div class="row">
        <div class="col-xs-12 text-right hidden-xs">
          {% include follow.html %}
        </div>
        <div class="col-xs-12 text-center hidden-sm hidden-md hidden-lg">
          {% include follow.html %}
        </div>
      </div>
    </div><!--/container-->

    <div class="container">

      <div class="row">
        <ul class="col-xs-12 footer__links clearfix">
          <li><a href="http://www.governo.it/privacy-policy" title="{{ site.data.t.PrivacyPolicy[page.lang] }}" target="_blank">{{ site.data.t.PrivacyPolicy[page.lang] }}</a></li>
          <li><a href="http://www.governo.it/note-legali" title="{{ site.data.t.LegalNotes[page.lang] }}" target="_blank">{{ site.data.t.LegalNotes[page.lang] }}</a></li>
          <li></li>
        </ul>
      </div>

    </div>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u = "//italia.piwikpro.com/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 9]);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- Twitter integration -->
    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    </script>
    <noscript><p><img src="//italia.piwikpro.com/piwik.php?idsite=9" style="border:0;" alt="piwikpro" /></p></noscript>
    <!-- End Piwik Code -->

  </footer>

  <a href="#page_top" title="{{ site.data.t.ScrollToTop[page.lang] }}" class="scrollto_top"><span><span class="sr-only">{{ site.data.t.ScrollToTop[page.lang] }}</span></span></a>

  <p class="cookie-message sr-only" role="alert">
    {{ site.data.t.CookieSr[page.lang] }}
  </p>


  <script src="/js/combined-b95a138e9e.js?{{ site.time | date: '%Y%m%d%H%M' }}"></script>
  <script src="/js/jquery.sticky-sidebar.min.js"></script>
  <script src="/js/teamdigitale.js?{{ site.time | date: '%Y%m%d%H%M' }}"></script>

  {% if page.layout == 'project' %}
  <script src="/js/frst-scale-effect.min.js"></script>
  <script src="/js/frst-timeline.min.js"></script>
  <script src="/js/jquery.overscroll.min.js"></script>
  {% endif %}

</body>



</html>
