<section class="manifesto js-accordion">
    <h1 class="text-center">Il manifesto per la Repubblica Digitale</h1>
    <div class="text-center">
        <p class="descrizioni">Gli aderenti</p>
        <p class="azioni text-uppercase font-bold">osservano</p>
        <p class="descrizioni">che la tecnologia digitale ha accelerato la trasformazione della società generando opportunità straordinarie ma anche nuovi rischi sociali</p>
        <p class="azioni text-uppercase font-bold">ritengono</p>
        <p class="descrizioni">che la trasformazione digitale possa essere interpretata come una grande occasione per “rilanciare” i principi, i diritti e i valori costituzionali che hanno fondato la Repubblica e i diritti umani fondamentali universalmente riconosciuti e come un percorso al quale siamo tutti chiamati a partecipare come cittadini, amministrazioni, imprese e formazioni sociali in vista del raggiungimento di un traguardo comune</p>
        <p class="azioni text-uppercase font-bold">propongono</p>
        <p class="descrizioni">che lo Stato, i cittadini, le formazioni sociali e le imprese collaborino insieme per sviluppare la cultura scientifico-tecnologica e contrastare ogni forma di analfabetismo digitale - per le stesse ragioni e con la stessa determinazione con la quale, nel secondo dopoguerra, si superò l’analfabetismo linguistico - nonché ogni forma di discriminazione nell’accesso agli strumenti di cittadinanza digitale</p>
        <p class="azioni text-uppercase font-bold">si impegnano</p>
        <p class="descrizioni">a promuovere azioni concrete, capaci di produrre risultati misurabili e quantificabili  sulla base dei seguenti principi:</p>
    </div>
    <ul>
        <li>
            <article class="articolo js-accordion-item">
                <h3>1. Educazione al digitale</h3>
                <p>Cultura informatica e competenze digitali sono requisiti essenziali della cittadinanza.</p>
                <p>Pubblico e privato devono investire risorse nel loro sviluppo in quanto fattori determinanti per la crescita, la competitività e il benessere del Paese, combattendo ogni forma di analfabetismo digitale anche attraverso la scuola, l’università e i mezzi di comunicazione di massa.</p>
                <div class="articolo__toggle js-accordion-toggle">
                    <span class="articolo__toggle-label">Approfondisci</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
                <div class="articolo__approfondimento js-accordion-panel">
                    <p>Lo Stato e le imprese promuovono a tutti i livelli la diffusione della cultura informatica e delle competenze digitali tra i cittadini. Tutti i cittadini hanno il diritto di apprendere, creare e utilizzare le tecnologie digitali in un ambiente sicuro sotto il profilo tecnologico e sociale. L’educazione civica digitale, il pensiero computazionale, il linguaggio informatico e l’uso consapevole degli strumenti digitali sono competenze di base da insegnare in tutti i percorsi formativi, gestiti da soggetti pubblici e privati, e a chiunque rivolti.</p>
                    <p>Gli insegnanti e gli educatori devono essere formati per accompagnare i discenti nell’acquisizione di adeguate competenze digitali e nello sviluppo di un’individualità digitale matura e consapevole. Lo Stato e le imprese progettano e sviluppano programmi di assistenza nei confronti delle fasce più deboli (persone con disabilità, anziani, minoranze linguistiche e culturali, eccetera) aiutando tutti ad acquisire agevolmente le necessarie competenze digitali.</p>
                    <p>Al tempo stesso, pubblico e privato con la qualità dei loro servizi dimostrano i benefici derivanti dal possesso di quelle stesse competenze.</p>
                    <p>Lo Stato tutela e promuove il digitale in tutte le sue forme ed espressioni, incoraggia e sostiene sia lo sviluppo di imprese che, attraverso il digitale, vogliano diventare o restare competitive sui mercati, sia l’attività di organizzazioni e associazioni per la diffusione della cultura digitale. Allo scopo di aumentare l’efficacia e la competitività dei propri servizi ai cittadini e alle imprese, la Pubblica Amministrazione valorizza le competenze digitali esistenti al suo interno e favorisce l’ingresso di nuove professionalità attraverso assunzioni e formazione specifica per introdurre competenze digitali in tutte le professioni e ruoli necessari al funzionamento dello Stato. I media pubblici e privati, offrono, incentivano e garantiscono una informazione approfondita e articolata sul complesso e pervasivo impatto della trasformazione digitale sulla società, sull’economia, sull’etica.</p>
                </div>
            </article>
        </li>
        <li>
            <article class="articolo js-accordion-item">
                <h3>2. Cittadinanza digitale</h3>
                <p>La tecnologia digitale può favorire lo sviluppo di una nuova forma di cittadinanza basata su informazione di qualità, partecipazione alle deliberazioni, interazione civica e su un rapporto più efficace tra cittadini e pubblica amministrazione. Il digitale progettato ponendo attenzione ai diritti dei cittadini può diventare la lingua comune nel dialogo tra cittadini, amministrazioni pubbliche e imprese e contribuire al superamento delle diseguaglianze.</p>
                <p>Pubblico e privato rendono disponibili i propri servizi in forma digitale in maniera accessibile e a misura di cittadino senza creare nuove barriere tecnologiche e abbattendo quelle esistenti. </p>
                <div class="articolo__toggle js-accordion-toggle">
                    <span class="articolo__toggle-label">Approfondisci</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
                <div class="articolo__approfondimento js-accordion-panel">
                    <p>Lo Stato e le Imprese devono essere digital by default, tutti i processi amministrativi devono essere re-ingegnerizzati in chiave digitale e tutti i servizi pubblici e privati devono essere progettati in maniera rispettosa dei diritti fondamentali, ponendo al centro le esigenze di cittadini e utenti e offerti in modalità innanzitutto digitale.</p>
                    <p>È dovere dell’amministrazione monitorare l’efficacia e l’effettivo utilizzo da parte dei cittadini dei servizi digitali erogati e rendere disponibili al pubblico i relativi dati attraverso apposite <i>dashboard</i>.</p>
                    <p>Lo Stato deve garantire a tutti i cittadini, nessuno escluso, il diritto di partecipare alla vita civile, sociale e democratica anche in forma digitale, rimuovendo tutti gli ostacoli di ordine sociale, economico, geografico, tecnologico e culturale e promuovendo con azioni concrete le condizioni che rendano effettivo questo diritto.</p>
                    <p>È dovere di cittadinanza contribuire alla diffusione della cultura digitale ponendo chiunque in condizione di beneficiare delle opportunità digitali attraverso azioni di solidarietà sociale, aiutando chi è rimasto indietro, a comprendere i vantaggi legati all’uso degli strumenti di cittadinanza digitale e, più in generale, a vivere in maniera consapevole, sicura e sostenibile l’ecosistema digitale.</p>
                </div>
            </article>
        </li>
        <li>
            <article class="articolo js-accordion-item">
                <h3>3. Digitale etico, umano e non discriminatorio</h3>
                <p>Il digitale può diventare uno spazio di eguaglianza e di sviluppo delle comunità e degli individui.</p>
                <p>Pubblico e privato contribuiscono all’eliminazione di ogni ostacolo di ordine sociale, economico, geografico, tecnologico e culturale che può impedire di fatto l’uguaglianza tra i cittadini nell’utilizzo dei servizi pubblici e privati digitali e nell’accesso alle opportunità offerte dal digitale.</p>
                <p>Il digitale deve essere etico e antropocentrico. Pubblico e privato devono progettare, sviluppare e fornire i loro servizi nel rispetto dei valori etici fondamentali riconosciuti nel nostro Paese e nel resto del mondo ponendo la persona e la comunità al centro.</p>
                <div class="articolo__toggle js-accordion-toggle">
                    <span class="articolo__toggle-label">Approfondisci</span>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i class="fa fa-close" aria-hidden="true"></i>
                </div>
                <div class="articolo__approfondimento js-accordion-panel">
                    <p>Tutti i servizi digitali, pubblici e privati, devono essere accessibili e fruibili senza alcuna discriminazione.</p>
                    <p>La società digitale deve essere inclusiva, accessibile a tutti i cittadini, senza discriminazione alcuna, né alcuna forma di divario sociale, economico, geografico, tecnologico e culturale.</p>
                    <p>Lo Stato e le imprese progettano, sviluppano e forniscono i propri servizi e cambiano la propria organizzazione e processi interni, secondo una visione antropocentrica, puntando a semplificare la tecnologia e la burocrazia, a evitare gli sprechi e dando priorità a tutte le soluzioni che creano un impatto positivo e misurabile per i cittadini e le imprese.</p>
                    <p>Servizi, comportamenti e processi che ostacolano la soddisfazione dei bisogni dei cittadini e il rispetto dei diritti fondamentali devono essere banditi nel contesto pubblico come in quello privato.</p>
                </div>
            </article>
        </li>
    </ul>
    <div class="row">
        <div class="col col-xs-12 text-center">
            <img src="/images/loghi/repubblica-digitale/repubblica-digitale-logo-small-2x.png" alt="Repubblica Digitale Logo" width="150" height="50" />
        </div>
    </div>
</section>