{% assign posts = site.medium_feed | where: "medium_detected_lang", page.lang %}
{% assign posts = posts | where_exp: "item", "item.medium_tagsarray contains 'developer'" %}

{% for post in (posts) limit:1 %}
<div class="panel panel-default medium_project">
  <div class="panel-body">
    <figure>
      <a href="{{ post.medium_url }}" target="_blank" title="{{post.medium_title}}">
      <img src="https://cdn-images-1.medium.com/fit/t/800/240/{{ post.medium_preview_image_id }}" class="image-responsive">
      </a>
    </figure>
    <p class="h3"><a href="{{ post.medium_url }}" target="_blank" title="{{post.medium_title}}">{{post.medium_title}}</a></p>
    <p >{{ post.medium_subtitle }}</p>
  </div>
</div>
{% endfor %}