{% comment %}
Le pagine che vengono incluse in questo menù sono un sottoinsieme di
tutte le pagine del sito che:
- hanno la stessa lingua della pagina corrente
- non hanno un "parent_ref" definito
{% endcomment %}
{% assign same_lang_pages = (site.html_pages | where: "lang", page.lang %}
{% assign sorted_pages = (same_lang_pages | sort: "menu_position") %}
<div class="container text-center navbar-top-link positionRelative" style=" margin-top:10px; padding-top:5px;">
  <div class="col-md-8 hidden-xs hidden-sm">
  {% for menu_page in sorted_pages %}
    {% if menu_page.parent_ref == nil and menu_page.menu_position != nil %}
      {% assign sub_pages_query = same_lang_pages | where: "parent_menu", menu_page.ref %}
      {% assign sub_pages = sub_pages_query | sort: "title" %}
      {% assign pagebytwo = sub_pages.size | divided_by:2 %}

        {% if menu_page.ref == page.ref or menu_page.ref == page.parent_ref %}
          {% assign isActive = true %}
        {% else %}
          {% assign isActive = false %}
        {% endif %}
        <div class="navbar-top-link__item positionRelative {{ menu_page.ref }}">
          <a href="{{ menu_page.url }}"
          {% if isActive %}class="active"{% endif %}
          {% if sub_pages.size > 0 %}
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          {% endif %} >{{ menu_page.title }}</a>
          {% if sub_pages.size > 0 %}
            <div class="navbar-projectslist row dropdown-menu {% if sub_pages.size < 4 %}navbar-projectslist--half{% endif %}"
            aria-labelledby="dropdownMenu">
              {% if sub_pages.size > 4 %}
              <div class="col-md-6 navbar-projectslist__column">
                {% for subpage in  sub_pages limit:pagebytwo %}
                      <div class="navbar-projectslist__item"><a href="{{subpage.url}}">{{subpage.title}}</a></div>
                {% endfor %}
              </div>
              <div class="col-md-6 navbar-projectslist__column">
                {% for subpage in  sub_pages offset:pagebytwo %}
                    <div class="navbar-projectslist__item"><a href="{{subpage.url}}">{{subpage.title}}</a></div>
                {% endfor %}
              </div>
              {% else %}
                <div class="navbar-projectslist__column">
                {% for subpage in sub_pages %}
                      <div class="navbar-projectslist__item"><a href="{{subpage.url}}">{{subpage.title}}</a></div>
                {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
        &nbsp;
    {% endif %}
  {% endfor %}

  </div>
  {% if page.lang=='en' %}
  <div class="col-md-4 navigation-hightlights navbar-top-link__item" style="text-align: right">
      <a href="/en/i7.html" class="hidden-xs hidden-sm">Innovation7@G7</a>
      <a href="/en/tallinn-conference.html" >EU - DTT</a>
  </div>
  {% else %}
  <div class="col-md-4 navigation-hightlights navbar-top-link__item" style="text-align: right">
    <a href="/en/i7.html" >Innovation7@G7</a>
  </div>
  {% endif %}

</div>
