<div class="row row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="sidebar-offcanvas">
        <nav data-offset-bottom="250" data-offset-top="0" data-spy="_affix" tabindex="0" id="menu" class="hidden-print">
            <h2 class="sr-only">{{ site.data.t.DigitalTransformationTeam[page.lang] }}</h2>
            <ul class="nav navmenu">
                {% for menu_page in site.html_pages %}
                  {% if menu_page.lang == page.lang %}
                    <li>
                        <a href="{{ menu_page.url }}">{{ menu_page.title }}</a>
                    </li>
                  {% endif %}  
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
