{% comment %}
Le pagine che vengono incluse in questo menù sono un sottoinsieme di
tutte le pagine del sito che:
- hanno la stessa lingua della pagina corrente
- non hanno un "parent_ref" definito
{% endcomment %}
<div class="text-center navbar-top-link" style=" margin-top:10px; padding-top:5px; border-top: solid 1px #013366 ">
  {% for menu_page in site.html_pages %}
    {% if menu_page.lang == page.lang and menu_page.parent_ref == nil %}
        {% if menu_page.ref == page.ref or menu_page.ref == page.parent_ref %}
          {% assign isActive = true %}
        {% else %}
          {% assign isActive = false %}
        {% endif %}
        <a href="{{ menu_page.url }}" {% if isActive %}class="active"{% endif %}>{{ menu_page.title }}</a>
        &nbsp;
    {% endif %}
  {% endfor %}
</div>
