<div class="panel panel-default newsletter_form">
  <div class="panel-body">
  <form action="{{ include.action }}">
  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" id="email" class="form-control" placeholder="{{ site.data.t.NewsletterEmail[page.lang] }}" required="required" type="email" aria-required="true" >
  </div>
  <div class="checkbox">
    <label for="privacy">
      <input type="checkbox" class="Form-input" id="privacy" name="privacy" aria-required="true" required="required">{{ site.data.t.NewsletterPrivacy[page.lang] }}
    </label>
  </div>
  <input type="hidden" name="list" value="{{ include.list }}">
  <button type="submit" class="btn btn-default" value="true" name="submit">{{ site.data.t.NewsletterSubmit[page.lang] }}</button>
  </form>
  </div>
</div>