<div class="panel panel-default newsletter_form">
  <div class="panel-body">
  <form action="http://a0x0b4.emailsp.com/frontend/subscribe.aspx">
  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" id="email" class="form-control" placeholder="Inserisci la tua email" required="required" type="email" aria-required="true" >
  </div>
  <div class="checkbox">
    <label for="privacy">
      <input type="checkbox" class="Form-input" id="privacy" name="privacy" aria-required="true" required="required">Accetto la <a href="/it/privacy-newsletter-pagoPA.htm">Privacy Policy</a>
    </label>
  </div>
  <input type="hidden" name="list" value="5">
  <button type="submit" class="btn btn-default" value="true" name="submit">Iscriviti</button>
  </form>
  </div>
</div>
