<hr />

<table class="signature" cellpadding="0" cellspacing="0" width="480" style="color:#0066CC;font-family:tahoma,sans-serif;font-size:16px;">
  <tbody>
    <tr>
        <td colspan="6" height="15"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>
            Diego Piacentini
            <br />
            <i style="font-size:12px;">Italian National Focal Point for I7</i>
        </td>

        <td></td>
    </tr>
    <tr>
        <td colspan="6" height="15"></td>
    </tr>
    <tr>
        <td valign="middle" width="40" height="40" style="height:40px;">
            <table width="40" height="40" style="background-color:#0066CC;width:40px; height:40px;" cellpadding="3" cellspacing="0">
                <tbody><tr>
                    <td valign="middle" align="center">
                        <span style="color:#FFFFFF;font-family:tahoma,sans-serif;font-size:27px;font-weight:500;">·D</span>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td width="20"></td>
        <td width="1" align="right" valign="middle" style="border-right: solid 1px #0066CC;"></td>
        <td width="20"></td>
        <td align="left" valign="middle" style="color:#0066CC;font-family:tahoma,sans-serif;font-size:12px; vertical-align:middle;">
            <b>DIGITAL TRANSFORMATION TEAM</b>
            <br />
            <i>Italian Government</i>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td valign="top"><a style="color:#0066CC;font-size:11px;" href="https://teamdigitale.governo.it/en/">teamdigitale.governo.it/en/</a></td>
        <td width="40" height="70" style="height:70px;"></td>
    </tr>
    <tr>
      <td colspan="5">
        <table>
          <tbody>
            <tr>
              <td width="82"></td>
              <td width="198"></td>
              <td width="40" style="width: 40px; height: 5px; border-bottom: solid 5px #65dbde;"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<hr />

<table class="signature" cellpadding="0" cellspacing="0" width="480" style="color:#0066CC;font-family:tahoma,sans-serif;font-size:16px;">
  <tbody>
    <tr>
        <td colspan="6" height="15"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>
            Diego Piacentini
            <br />
            <i style="font-size:12px;">Commissario Straordinario per l'attuazione dell'Agenda Digitale</i>
        </td>

        <td></td>
    </tr>
    <tr>
        <td colspan="6" height="15"></td>
    </tr>
    <tr>
        <td valign="middle" width="40" height="40" style="height:40px;">
            <table width="40" height="40" style="background-color:#0066CC;width:40px; height:40px;" cellpadding="3" cellspacing="0">
                <tbody><tr>
                    <td valign="middle" align="center">
                        <span style="color:#FFFFFF;font-family:tahoma,sans-serif;font-size:27px;font-weight:500;">·D</span>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td width="20"></td>
        <td width="1" align="right" valign="middle" style="border-right: solid 1px #0066CC;"></td>
        <td width="20"></td>
        <td align="left" valign="middle" style="color:#0066CC;font-family:tahoma,sans-serif;font-size:12px; vertical-align:middle;">
            <b>TEAM PER LA TRASFORMAZIONE DIGITALE</b>
            <br />
            <i>Presidenza del Consiglio dei Ministri</i>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td valign="top">
          <div>
            <a style="color:#0066CC;font-size:11px;" href="https://teamdigitale.governo.it/">teamdigitale.governo.it</a>
          </div>
          <div style="line-height:9px">
            <span style="font-size:9px">Twitter:</span> <a style="color:#0066CC;font-size:9px;" href="https://twitter.com/diegopia">@diegopia</a>
          </div>
          <div style="line-height:9px">
            <span style="font-size:9px">Medium:</span> <a style="color:#0066CC;font-size:9px;" href="https://medium.com/@diegopia">
              @diegopia
            </a> <span style="font-size:9px">/</span>
            <a style="color:#0066CC;font-size:9px;" href="https://medium.com/team-per-la-trasformazione-digitale">
              team-per-la-trasformazione-digitale
            </a>
          </div>
        </td>
        <td width="40" height="70" style="height:70px;"></td>
    </tr>
    <tr>
      <td colspan="5">
        <table>
          <tbody>
            <tr>
              <td width="82"></td>
              <td width="198"></td>
              <td width="40" style="width: 40px; height: 5px; border-bottom: solid 5px #65dbde;"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


<hr />

<table class="signature" cellpadding="0" cellspacing="0" width="480" style="color:#0066CC;font-family:tahoma,sans-serif;font-size:16px;">
  <tbody>
    <tr>
        <td colspan="6" height="15"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>
            Diego Piacentini
            <br />
            <i style="font-size:12px;">Government Commissioner for the Digital Agenda</i>
        </td>

        <td></td>
    </tr>
    <tr>
        <td colspan="6" height="15"></td>
    </tr>
    <tr>
        <td valign="middle" width="40" height="40" style="height:40px;">
            <table width="40" height="40" style="background-color:#0066CC;width:40px; height:40px;" cellpadding="3" cellspacing="0">
                <tbody><tr>
                    <td valign="middle" align="center">
                        <span style="color:#FFFFFF;font-family:tahoma,sans-serif;font-size:27px;font-weight:500;">·D</span>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td width="20"></td>
        <td width="1" align="right" valign="middle" style="border-right: solid 1px #0066CC;"></td>
        <td width="20"></td>
        <td align="left" valign="middle" style="color:#0066CC;font-family:tahoma,sans-serif;font-size:12px; vertical-align:middle;">
            <b>DIGITAL​ ​TRANSFORMATION​ ​TEAM</b>
            <br />
            <i>Italian Government</i>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td valign="top">
          <p style="margin:0;">
            <a style="color:#0066CC;font-size:11px;" href="https://teamdigitale.governo.it/en/">teamdigitale.governo.it/en/</a>
          </p>
          <p style="line-height:9px;margin:0;">
            <span style="font-size:9px">Twitter:</span> <a style="color:#0066CC;font-size:9px;" href="https://twitter.com/diegopia">@diegopia</a>
          </p>
          <p style="line-height:9px;margin:0;">
            <span style="font-size:9px">Medium:</span> <a style="color:#0066CC;font-size:9px;" href="https://medium.com/@diegopia">
              @diegopia
            </a> <span style="font-size:9px">/</span>
            <a style="color:#0066CC;font-size:9px;" href="https://medium.com/team-per-la-trasformazione-digitale/tagged/english-language">
              team-per-la-trasformazione-digitale/tagged/english-language
            </a>
          </p>
        </td>
        <td width="40" height="70" style="height:70px;"></td>
    </tr>
    <tr>
      <td colspan="5">
        <table>
          <tbody>
            <tr>
              <td width="82"></td>
              <td width="198"></td>
              <td width="40" style="width: 40px; height: 5px; border-bottom: solid 5px #65dbde;"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


<hr />

<table class="signature" cellpadding="0" cellspacing="0" width="480" style="color:#0066CC;font-family:tahoma,sans-serif;font-size:16px;">
  <tbody>
    <tr>
        <td colspan="6" height="15"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>
            Diego Piacentini
            <br />
            <b><i style="font-size:12px;">Government Commissioner for the Digital Agenda</i></b>
            <br />
            <i style="font-size:12px;">Commissario Straordinario per l'attuazione dell'Agenda Digitale</i>
        </td>

        <td></td>
    </tr>
    <tr>
        <td colspan="6" height="15"></td>
    </tr>
    <tr>
        <td valign="middle" width="40" height="40" style="height:40px;">
            <table width="40" height="40" style="background-color:#0066CC;width:40px; height:40px;" cellpadding="3" cellspacing="0">
                <tbody><tr>
                    <td valign="middle" align="center">
                        <span style="color:#FFFFFF;font-family:tahoma,sans-serif;font-size:27px;font-weight:500;">·D</span>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td width="20"></td>
        <td width="1" align="right" valign="middle" style="border-right: solid 1px #0066CC;"></td>
        <td width="20"></td>
        <td align="left" valign="middle" style="color:#0066CC;font-family:tahoma,sans-serif;font-size:12px; vertical-align:middle;">
            <p style="margin:0;">
              <b>DIGITAL​ ​TRANSFORMATION​ ​TEAM</b>
              <br />
              <span>TEAM PER LA TRASFORMAZIONE DIGITALE</span>
              <br />
              <br />
            </p>
            <p style="margin:0;">
              <b>Italian Government - <a style="color:#0066CC;font-size:11px;" href="https://teamdigitale.governo.it/en/">teamdigitale.governo.it/en/</a></b>
              <br />
              <span><i>Presidenza del Consiglio dei Ministri</i> - <a style="color:#0066CC;font-size:11px;" href="https://teamdigitale.governo.it/">teamdigitale.governo.it/</a></span>
              <br />
            </p>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td valign="top"></td>
        <td width="40" height="70" style="height:70px;"></td>
    </tr>
    <tr>
      <td colspan="5">
        <table>
          <tbody>
            <tr>
              <td width="82"></td>
              <td width="198"></td>
              <td width="40" style="width: 40px; height: 5px; border-bottom: solid 5px #65dbde;"></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


<script src="/js/combined-b95a138e9e.js"></script>
<script>
$(".signature").one("click", function() {
  // Remove other signatures for easying the copy action
  $(this).siblings().remove();
});
</script>
