<div class="container-fluid" id="slimheader">
            <div class="col-md-4">
                {{ site.data.t.ItalianGovernment[page.lang] }}
            </div>
            <div  class="col-md-8 text-right">
                <ul class="slimheader__list">
                  <li class="current delimiter">
                    <a class="u-color-white" href="https://pianotriennale-ict.italia.it">
                      Piano Triennale
                    </a>
                  </li>
                  <li class="delimiter">
                    <a class="u-color-white" href="https://developers.italia.it/" target="_blank">
                      Developers
                    </a>
                  </li>
                  <li class="delimiter">
                    <a class="u-color-white" href="https://designers.italia.it" target="_blank">
                      Designers
                    </a>
                  </li>
                  <li class="">
                    <a class="u-color-white" href="https://forum.italia.it/" target="_blank">
                      Forum
                    </a>
                  </li>
                  <li class="">
                    <a class="u-color-white" href="https://docs.developers.italia.it/" target="_blank">
                      Docs
                    </a>
                  </li>
                  <li class="delimiter">
                    <a class="u-color-white" href="https://github.com/italia/" target="_blank">
                      Github
                    </a>
                  </li>
                  <li class="langSwitcher">{% include lang_switch.html %}</li>
                </ul>
            </div>
        </div>