<div class="container-fluid" id="slimheader">
            <div class="col-xs-8 col-sm-4 slimheader__institutional">

                <!--<a  href="#" class="slimheader__buttcanvas hidden-md hidden-lg">
                  <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkuMnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxMiAxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSIxMDI0dXAiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSItLWhvbWUtLS1wYXJhbGxheC0tLW1vYmlsZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI0LjAwMDAwMCwgLTIwLjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPgogICAgICAgICAgICA8ZyBpZD0iLW5ldHdvcmstc2xpbS1oZWFkZXIiPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTI0LDI0IEwzNiwyNCBMMzYsMjYgTDI0LDI2IEwyNCwyNCBaIE0yNCwyMCBMMzIsMjAgTDMyLDIyIEwyNCwyMiBMMjQsMjAgWiBNMjQsMjggTDMyLDI4IEwzMiwzMCBMMjQsMzAgTDI0LDI4IFoiIGlkPSJpY29uLXNtYWxsLWJ1cmdlciI+PC9wYXRoPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=">
                </a>-->
                <a href="https://teamdigitale.governo.it/">Team Digitale</a>
            </div>
            <div  class="col-xs-12 col-sm-8 text-right">
                <ul class="slimheader__list">
                  <li class="delimiter hidden-xs hidden-sm">
                    <a class="u-color-white" href="{{ site.data.t.ThreeYearPlanUrl[page.lang] }}">
                      {{ site.data.t.ThreeYearPlan[page.lang] }}
                    </a>
                  </li>
                  <li class="delimiter hidden-xs hidden-sm">
                    <a class="u-color-white" href="{{ site.data.t.DevelopersUrl[page.lang] }}" target="_blank">
                      Developers
                    </a>
                  </li>
                  <li class="delimiter hidden-xs hidden-sm">
                    <a class="u-color-white" href="{{ site.data.t.DesignersUrl[page.lang] }}" target="_blank">
                      Designers
                    </a>
                  </li>
                  <li class=" hidden-xs hidden-sm">
                    <a class="u-color-white" href="https://forum.italia.it/" target="_blank">
                      Forum
                    </a>
                  </li>
                  <li class=" hidden-xs hidden-sm">
                    <a class="u-color-white" href="https://docs.developers.italia.it/" target="_blank">
                      Docs
                    </a>
                  </li>
                  <li class="delimiter  hidden-xs hidden-sm">
                    <a class="u-color-white" href="https://github.com/italia/" target="_blank">
                      Github
                    </a>
                  </li>
                  <li class="langSwitcher">{% include lang_switch.html %}</li>
                </ul>
            </div>
</div>
