{% assign t = site.data.t %}
{% assign same_lang_pages = site.pages | where: "lang", page.lang %}

{% assign people_pages_sorted = same_lang_pages | where: "layout", "people" | sort_by_surname: "title" %}
{% assign people_pages_sorted_active = people_pages_sorted | where_exp: "person", "person.end_date == nil"  %}
{% assign people_pages_sorted_unactive = people_pages_sorted | where_exp: "person", "person.end_date != nil"  %}

<h2>{{ t.Team[page.lang] }}</h2>

<div class="row team-list-grid">
  {% for person in people_pages_sorted_active %}
  {% include person.html content = person %}
  {% endfor %}
</div>

<h2>{{ t.PastMembers[page.lang] }}</h2>

<div class="row team-list-grid">
  {% for person in people_pages_sorted_unactive %}
  {% include person.html content = person %}
  {% endfor %}
</div>
