#navbar {
	.navbar-top-link__item {
		display: inline-block;
	}
	&.navbar {
		padding-bottom: 0;
	}
	.navbar-top-link {
		padding-bottom: 5px !important;
		a {
			
			&.active {
			background-color: transparent !important;
			border-bottom: 3px solid #8bc5ff;
			padding-bottom: 3px !important;
			}
		}
	}
	.navbar-top-link .projects {
		position: relative;
		& > a:after {
			content: '\f078';
			display: inline;
			color: #fff;
			font-family: 'FontAwesome';
			margin-left: 4px;
			font-size: 16px;
		} 
	}

	.navbar-projectslist {
		position: absolute;
		z-index: 99;
		width: 280px;
		margin: 6px 0;
		list-style: none;
		background-color: #06C;
		padding: 14px 10px;
		li {
			text-align: left;
			font-size: 18px !important;
			line-height: 22px !important;
			margin-bottom: 10px;
			a {
				padding: 0;
				display: block;
				white-space: normal;
				cursor: pointer;		
			}
			a:hover {
				background-color: transparent;
			}
		}
	}

}



.section-nav {
    margin: 0;
    list-style: none;
    list-style-type: none;
    margin-top: 27px;
    padding: 12px 0;
    border-top: 1px solid #30373d;
    border-bottom: 1px solid #30373d;
    a {
    	font-size: 18px;
    	line-height: 1.3;
	}
	@media screen and (max-width: 991px) {
		margin-bottom: 20px;
	}
}

/* Project layout */
.project__people {
    margin-bottom: 12px;

    &__person {
    	img {
    		width: 60px;
    		float: left;
		}
		h1 {
		    margin-top: 12px;
		    margin-bottom: 8px;
		    font-size: 20px;
		}
		h2 {
		    margin: 0;
		    font-size: 18px;
		}
	}
}
.forumIntegration {
	border: 1px solid #ddd;
	margin: 10px 0;
	.forumIntegration__header {
		background-color: #06C;
		.forumIntegration__header__developers {
			a {
				color: #fff;
				text-decoration: none !important;
				margin-top: 12px;
				display: block;
			}
			img {
				width: 64px;
				max-width: 100%;
				display: inline-block;
			}
		}

	}
	.forumIntegration__body {
		padding: 12px;
		font-size: 16px;
		line-height: 20px;
		.badge {
			background-color: #aaa;
			margin-left: 8px;
		}
		div:nth-child(2) {
			border-top: none !important;
		}
	}
	.forumIntegration__title {
		padding-top: 12px;
		border-top: 1px solid #ddd;
	}
	.forumIntegration__header__link {
		padding: 0;
	}
	.forumIntegration__lastpost {
		margin-bottom: 10px;
	}
}
.medium_project {
	figure {
		width: 100%;
		img {
			width: 100%;
		}
	}
	a {
		text-decoration: none !important;
	}
}

/* OVERRIDE SPECIFICO IN CASO DI LAYOUT PROJECT */

body.layout-project { 
	#main {
		@media screen and (min-width: 992px) {
		    max-width: none !important;
		    width: 83.33333%;
		}
	}
}