.positionRelative {
	position: relative;
}
.positionFixed{
	position: fixed;
}
.positionAbsolute {
	position: absolute;
}.positionStatic {
	position: static;
}

.nav-banner {
	background-color: #06C;
	font-size: 16px ;
	line-height: 19px;
	font-weight: 600 ;
	color: #fff;
	position: relative;
	z-index: 9991;
	
	a {
		color: #fff !important;
		text-decoration: none;
	}
	#slimheader {
		padding: 18px ;
		border-bottom: 1px solid #127ae2;

	}
	.slimheader__list {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			margin: 0;
			font-size: 16px ;
			line-height: 19px;
			display: inline-block;
			padding: 0 6px;

			a {
				color: #fff;
				font-size: 16px ;
				line-height: 19px;
				font-weight: 600 ;
				padding: 0 6px;
				opacity: 0.7;
			}
			&.delimiter {
				border-right: 1px solid #127ae2;
			}
			&.current a {
				opacity: 1;
				border-bottom: 1px solid #fff;
				padding-bottom: 16px;
			}
		}
	}
	.slimheader__institutional {
		a {
			font-weight: 700;
		}
	}
	&.nav-banner--small {
		#slimheader {
			display: none;
		}
	}
	.slimheader__buttcanvas {

		margin-right: 8px;
		padding-right: 6px;
		border-right: 1px solid #127ae2;
		img {
			position: relative;
			top: -2px;
		}
	}
}

#navbar {
	position: relative;
	z-index: 9990;
	
	.navbar-top-link__item {
		display: inline-block;
		&.homepage a {
			background-color: transparent !important;
		}
	}
	&.navbar {
		padding-bottom: 0;
	}
	.navbar-top-link {
		padding-bottom: 5px !important;
		a {

			&.active {
			background-color: #1f77d2;
			border-bottom: none;
			padding-bottom: 3px !important;
			}
		}
	}
	.navbar-top-link .projects {

		& > a:after {
			content: '\f078';
			display: inline;
			color: #fff;
			font-family: 'FontAwesome';
			margin-left: 4px;
			font-size: 16px;
		}
		@media screen and (min-width: 768px) {
			position: relative;
		}
	}

	.navbar-projectslist {
		position: absolute;
		z-index: 99;
		width: 500px;
		margin: 0;
		list-style: none;
		background-color: #fff;
		padding: 16px;
		padding-top: 30px;
		border-radius: 6px;
		border-style: none !important;

		&__row {

			position: relative;
		}
		&__item {
			text-align: left;
			font-size: 18px !important;
			line-height: 22px !important;
			margin: 10px 0;
			padding-bottom: 6px;
			border-bottom: 1px solid #ddd;
			a {
				padding: 0 !important;
				display: block;
				white-space: normal;
				cursor: pointer;
				color: #06c;
			}
			a:hover {
				background-color: transparent;
			}

		}
		&__column {
			& > div:last-child {
				border: none !important;
			}
		}
		@media screen and (max-width: 767px) {
			width: 100%;
			margin-top: 0;
		}
		&:after {
			content:'\f0d8';
			font-family: FontAwesome;
			color: #fff;
			top: -22px;
			left: 24px;
			font-size: 24px;
			position: absolute;
		}
	}

}
.langSwitcher {
	position: relative;
}

#dropdownLang {
	opacity: 1 !important;
	i {
		font-size: 14px;
	}

}
.lang_others {
	border: none;
	right: 0;
	left: initial;
	top: 30px;
	min-width: auto;
	width: 100%;
	border-radius: 4px;

	li {
		text-align: center !important;
		display: block !important;
		padding: 10px;


	}
	a {
		color: #06c !important;
		padding: 6px !important;
		opacity: 1 !important;
		&.active {
			border: 2px solid #06c;
		}
	}

	&:before {
		font-family: FontAwesome;
		content:"\f0d8";
		color: #fff;
		font-size: 18px;
		top: -12px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;

	}
}


.section-nav {
    margin: 0;
    list-style: none;
    list-style-type: none;
    margin-top: 27px;
    padding: 12px 0;
    border-top: 1px solid #30373d;
    border-bottom: 1px solid #30373d;
    a {
    	font-size: 18px;
    	line-height: 1.3;
	}
	@media screen and (max-width: 991px) {
		margin-bottom: 20px;
	}
}

/* Project layout */
.project__people {
    margin-bottom: 12px;

    &__person {
    	img {
    		width: 60px;
    		float: left;
		}
		h1 {
		    margin-top: 12px;
		    margin-bottom: 8px;
		    font-size: 20px;
		}
		h2 {
		    margin: 0;
		    font-size: 18px;
		}
	}
}
.forumIntegration {
	border: 1px solid #ddd;
	margin: 10px 0;
	.forumIntegration__header {
		background-color: #06C;
		.forumIntegration__header__developers {
			a {
				color: #fff;
				text-decoration: none !important;
				margin-top: 12px;
				display: block;
			}
			img {
				width: 64px;
				max-width: 100%;
				display: inline-block;
			}
		}

	}
	.forumIntegration__body {
		padding: 12px;
		font-size: 16px;
		line-height: 20px;
		.badge {
			background-color: #aaa;
			margin-left: 8px;
		}
		div:nth-child(2) {
			border-top: none !important;
		}
	}
	.forumIntegration__title {
		padding-top: 12px;
		border-top: 1px solid #ddd;
	}
	.forumIntegration__header__link {
		padding: 0;
	}
	.forumIntegration__lastpost {
		margin-bottom: 10px;
	}
}
.medium_project {
	figure {
		width: 100%;
		img {
			width: 100%;
		}
	}
	a {
		text-decoration: none !important;
	}
}

.toc-entry {
	line-height: 1.2;
	margin-bottom: 0.6em;
	a {
		line-height: 1.2;
	}
	&.toc-h1 > a {
		display: none;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

/* IPRESS */
.iPress, .iPress>a, .iPress>ol>li, .iPress>p, .iPress>ul>li, .iPress p>a, .i-lineHeight-xl, .i-text-p {
    line-height: 1.55!important;
}
.iPress-blockquote, .Skiplinks>li>a, .i-padding-left-l {
    padding-left: 2.4rem!important;
}
.iPress-blockquote, .iPress>ol, .iPress>p, .iPress>pre .iPress>figure, .iPress>ul, .i-margin-bottom-xl {
    margin-bottom: 3.2rem!important;
}
.i-background-grey-10 {
    background-color: #f5f5f0!important;
}
.iPress-blockquote, .i-border-left-m {
    border-left: 1rem solid currentColor!important;
}
blockquote {
    margin: 0;
}
.iPress img {
    max-width: 100%;
}
.i-margin-r-right {
    margin-right: 1em!important;
}
.i-floatLeft {
    float: left!important;
}
.i-text-r-xxs {
    margin-top: 0;
}

/* OVERRIDE SPECIFICO IN CASO DI LAYOUT PROJECT */
.follow-and-language {
	padding: 0;
	margin-top: 10px;
}
body.layout-project {
	#main {
		@media screen and (min-width: 992px) {
		    max-width: none !important;
		    
		}
	}
}
#nav-toggle {
	top: 3rem;
	left: 3rem;
	@media screen and (max-width: 500px) {
		left: 1rem;
		}
}
#sidebar {
	top: 0 !important;
}

.nopadding {
	padding: 0 !important;
}

.footer__logoteam {
	&__img {
		width: 64px;
		height: auto;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid #fff;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__string {

		a {
			color: #fff !important;
			text-transform: uppercase;
			font-size: 18px;
		    line-height: 20px;
		    display: block;
		    font-weight: 600;

		}
	}
}
.footer__logogov {
	&__img {
		width: 64px;
		height: auto;
		margin-right: 10px;
		padding-right: 10px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__string {

		a {
			color: #fff !important;
			font-size: 21px;
		    line-height: 24px;
		    display: block;
		    font-weight: 600;
		}
	}
}

/* I7 specific
-----------------*/
.i7people {
	&__persongrid {
		margin-bottom: 10px;
	}
	&__focal {
		text-transform: uppercase;
		font-size: 13px;
		line-height: 1.2;
		margin: 2px 0;
		font-weight: 600;
	}
	&__rowdetail {
		@media screen and (max-width: 767px) {
			margin: 0 10px;
		}
	}
	&__country {
		&:after {
			display: block;
			content: ' ';
			width: 100%;
			position: relative;
			top: -4px;
			border-bottom: 1px solid #ccc;
			z-index: -1;
		}
	}
}
.i7people__persongrid:nth-child(odd) {
	clear: left;
}
.i7person {

	&__img {
		margin-bottom: 6px;
		margin-left: 6px;
		max-width: 260px;
		height: auto;
		@media screen and (max-width: 500px) {
			max-width: 120px;
		}
	}
	&__social {
		.fa {
			margin-right: 6px;
		}
		a {
			text-decoration: none !important;
		}
	}
	&__focal {
		font-size: 16px;
		line-height: 1.3;
		margin: 0;
		text-transform: uppercase;
		font-weight: normal;
	}
}
.i7 {
	&__blockquote {
		font-size: 2.4rem;
		line-height: 1.55;
		margin: 0 20px !important;
		text-align:justify;
	}

}
/* EXPLICIT OVERRIDES 
--------------------- */
.sidenav-menu-item.homepage {
	/* issue 289 */
	& a {
		background-color: transparent !important;
		font-weight: inherit !important;
	}
}


/* PRINT TRICKS AND STYLES
-------------------------- */
@media print {
	.hidden-onprint {
		display: none !important;
	}
	.visible-onprint {
		display: block !important;
	}
	.jobaccordion_col2 {
		width: 100% !important;

		& > div {
			padding: 8px;
		}
	}
	.jobpositions a {
		text-decoration: none !important;
		border: none !important;
	}

	#page_top, .scrollto_top {
			display: none !important;
		}
	.nav-banner {
		position: relative !important;
		color: #000 !important;

		.slimheader__list {
			display: none;
		}
		a {
			color: #000 !important;
		}
	}
}


.navigation-hightlights a{ background: #00C5CA; font-size: .9em; white-space: nowrap; font-weight: bold; margin-left: 8px;}
.navigation-hightlights a:nth-child(0) {margin-left: 0;}

// Navigation highlight fix #245

@media screen and (max-width: 767px) {
    .navbar-top-link {
      display: block;
    }
		.navbar__logo_container {
    	margin-left: 1rem;
		}
		.navbar {
    	top: 0px;
			padding-top: .5em;
		}
		.nav-banner{
			background-color: transparent;
			left: auto;
			right: 0;
			width: auto;
		}
		.nav-banner #slimheader{
			border-bottom: none;
    	float: right;
			padding-top: 2em;
		}
		.slimheader__institutional{
			display: none;
		}
		.nav-banner--small{
			height: auto;
		}
		#nav-toggle{
			top: 2em;
		}
		.nav-banner.nav-banner--small #slimheader {
		    display: block;
		}
		.navbar--small .navbar-header{
			margin-left: 0px;
		}
		.navbar .navbar-header{
			padding-bottom: .5em;
		}
		#nav-toggle{
			top: 1em;
		}
}
