{% capture people_page_content %}
<h2>{{ page.title }}</h2>
<h4>{{ page.role }}</h4>

<div class="row">
  <div class="col-sm-6">
    <img class="img-responsive" src="/images/team/{{ page.ref }}.jpg" alt="{{ page.title }}">
  </div>
</div>

{% if page.linkedin_url != nil %}
<div style="padding:5px;">
  <a href="{{ page.linkedin_url }}" target="_blank" class="block-link" style="text-decoration:none; position:relative;">
    <span class="fa fa-linkedin" style="position:absolute; top:8px;"></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ page.linkedin_url | split: "/" | last }}
  </a>
</div>
{% endif %}

{% if page.medium_user != nil %}
<div style="padding:5px;">
    <a href="https://medium.com/@{{ page.medium_user }}" target="_blank" class="block-link" style="text-decoration:none">
      <span class="fa fa-medium"></span>
      &nbsp;@{{ page.medium_user }}
    </a>
</div>
{% endif %}

{% if page.twitter_user != nil %}
<div style="padding:5px;">
    <a href="https://www.twitter.com/{{ page.twitter_user }}" target="_blank" class="block-link" style="text-decoration:none">
      <span class="fa fa-twitter"></span>
      &nbsp;@{{ page.twitter_user }}</a>
</div>
{% endif %}


{{ content }}

{% if page.start_date != nil %}
  <p>{{site.data.t.StartDate[page.lang]}}: {{ page.start_date }}</p>
{% endif %}
{% if page.end_date != nil %}
  <p>{{site.data.t.EndDate[page.lang]}}: {{ page.end_date }}</p>
{% endif %}
{% if page.period_provided != nil %}
  <p>{{site.data.t.PeriodProvided[page.lang]}}: {{ page.period_provided }}</p>
{% endif %}
{% if page.annual_compensation != nil %}
  <p>{{site.data.t.AnnualCompensation[page.lang]}}: {{ page.annual_compensation }}</p>
{% endif %}
{% if page.approved_by_court != nil %}
  <p>{{site.data.t.ApprovedOn[page.lang]}}: {{ page.approved_by_court }}</p>
{% endif %}

{% if page.twitter_user != nil %}
  {% include twitter_timeline.html %}
{% endif %}




<hr/>


{% endcapture %}
{% include layout_base.html content=people_page_content %}
