{% assign coldim = "12|12|4|4|3|4|4|4|4|4" | split: "|" %}
{% assign same_lang_pages = site.pages | where: "lang", page.lang %}
{% assign people = "|" | split: '|' %}
{% assign expeople = "|" | split: '|' %}
{% for ppage in page.people %}
	{% assign people_page = same_lang_pages | where: "ref", ppage | first %}
	{% unless people_page.end_date==nil %}
		{% assign expeople = expeople | push: people_page %}
	{% else %}
		{% assign people = people | push: people_page %}
	{% endunless %}
{% endfor %}

{% capture proj_page_content %}
{% if page.lang == 'en' %}
<div class="project-banner-en" >
	<div class="container">
		<p>This section was translated by Artificial Intelligence. <a href="https://github.com/teamdigitale/teamdigitale.governo.it/tree/master/en/projects" target="_blank">Help us improving it on GitHub</a></p>
	</div>
</div>
{% endif %}
<h2>{{ page.title }} </h2>
{% if page.people != nil %}
	<div class="row project__people">
		{% for person in people %}
			<article class="col-sm-{{coldim[page.people.size]}} project__people__person">
				<a href="{{ person.url }}">
	                <img class="img-circle img-responsive" src="/images/team/{{ person.ref }}.jpg" alt="{{ person.title }}">
	            </a>
				<h1 class="h4"><a href="{{ person.url }}">{{person.title}}</a></h1>
				<h2 class="h5">{{person.role}}</h2>
				
			</article>
		{% endfor %}
	</div>
	{% if expeople.size > 0 %}
	<div class="project__people ex">
		<span class="h5">Hanno contribuito:</span>
		{% for person in expeople %}
			<span class="h4"><a href="{{ person.url }}">{{person.title}}</a></span>
			{% unless forloop.last%},&nbsp;{% endunless %}
		{% endfor %}
		
	</div>
	{% endif %}

{% endif %}

<div class="row">
<div class="col-md-9">
	{{ content }}
	

</div>
<div class="hidden-xs hidden-sm col-md-3">
	<div class="section-nav__wrapper">
		{{ content | toc_only }}
	</div>

</div>

</div>

{% endcapture %}

{% include layout_base.html content=proj_page_content %}
