
.dialog__trigger, .dialog__action {
  background: #f1f1f1;
  padding: 15px 20px;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.dialog__trigger:hover, .dialog__action:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  /*box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);*/
}

.dialog__trigger:focus, .dialog__action:focus { outline: 0; }

.dialog__trigger:active, .dialog__action:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.dialog {
  background: #000000;
  min-height: 90%;
  width: 96%;
  position: fixed;
  left: calc(2% - 0%);
  top: 0;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
  /*border: 3px solid #333333;*/
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
  z-index:20000;
  color: white !important;
}


.dialog.dialog--active {
  top: 8%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.dialog .dialog__close {
  font-size: 1rem;
  line-height: 1rem;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.dialog .dialog__close:hover { color: #E74C3C; }

.dialog .dialog__title {
  font-weight: 100;
  margin: 0;
  padding: 0 0 15px 0;
  border-bottom: 2px solid #333333;
}



.dialog .dialog__action {
  margin: 0;
  /*font-size: 1rem;*/
}