/* Icons */
@font-face {
    font-family: "governo";
    src: url("../fonts/governo.eot");
    src: url("../fonts/governo.eot?#iefix") format("embedded-opentype"), url("/fonts/governo.woff") format("woff"), url("/fonts/governo.ttf") format("truetype"), url("/fonts/governo.svg#governo") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "governo" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "governo" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "a";
}

.icon-sharethis:before {
    content: "c";
}

.icon-icon-arrow-right:before {
    content: "b";
}

.icon-icon-camera:before {
    content: "d";
}

.icon-icon-dots:before {
    content: "e";
}

.icon-icon-dots-vertical:before {
    content: "f";
}

.icon-icon-foto:before {
    content: "g";
}

.icon-icon-lente:before {
    content: "h";
}

.icon-slideshare:before {
    content: "j";
}

.icon-twitter:before {
    content: "i";
}

.icon-youtube:before {
    content: "k";
}

.icon-google-plus:before {
    content: "l";
}

.icon-flickr:before {
    content: "m";
}

.icon-rss-two:before {
    content: "n";
}

.icon-icon-arrow-left:before {
    content: "o";
}

.icon-icon-top:before {
    content: "p";
}

.icon-icon-bottom:before {
    content: "q";
}

.icon-icon-pdf:before {
    content: "G";
}

.icon-icon-left:before {
    content: "s";
}

.icon-icon-right:before {
    content: "t";
}

.icon-icon-play:before {
    content: "u";
}

.icon-icon-expand-media:before {
    content: "v";
}

.icon-icon-close:before {
    content: "w";
}

.icon-icon-pin:before {
    content: "x";
}

.icon-icon-view-01:before {
    content: "y";
}

.icon-icon-view-02:before {
    content: "z";
}

.icon-icon-close-02:before {
    content: "A";
}

.icon-icon-radio-off:before {
    content: "B";
}

.icon-icon-radio-on:before {
    content: "C";
}

.icon-icon-document:before {
    content: "D";
}

.icon-icon-link:before {
    content: "E";
}

.icon-whatsapp:before {
    content: "F";
}

.icon-icon-pdf2:before {
    content: "r";
}

.icon-angle-double-left:before {
    content: "H";
}

.icon-angle-double-right:before {
    content: "I";
}

.icon-instagram:before {
    content: "\4a";
}

.icon-pinterest-p:before {
    content: "\4b";
}

.icon-icon-related:before {
    content: "\4c";
}

.icon-icon-right:before {
    content: "\74";
}
